.TodoItem-isComplete{
    text-decoration: line-through;
    opacity: .3;
}

.TodoItem{
    display: flex;
    align-items: center;
}

.TodoItem > p {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    
}